{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        rewrite-clj/rewrite-clj {:mvn/version "1.2.55"}
        org.clojure/tools.reader {:mvn/version "1.4.2"}}
 :aliases {:spec {:main-opts ["-m" "speclj.main" "-c" "spec" "spec-jvm"]
                  :extra-deps {speclj/speclj {:mvn/version "3.12.2"}}
                  :extra-paths ["spec" "spec-jvm"]}
           :mutate {:main-opts ["-m" "clj-mutate.core"]
                    :extra-deps {speclj/speclj {:mvn/version "3.12.2"}}
                    :extra-paths ["spec" "spec-jvm"]}
           :scrap {:main-opts ["-m" "scrap.core"]
                   :extra-deps {io.github.unclebob/scrap
                                {:git/url "https://github.com/unclebob/scrap.git"
                                 :git/sha "03d2b21db4ba90e75c6c100b44f069f34050de8f"}}}
           :crap {:extra-deps {io.github.unclebob/crap4clj
                               {:git/url "https://github.com/unclebob/crap4clj.git"
                                :git/sha "992a5dd41bb337a843c02fb4829a69af7bfcf595"}}
                  :main-opts ["-m" "crap4clj.core"]}
           :deintroverter {:extra-deps {io.github.unclebob/deintroverter4clj
                                         {:git/url "https://github.com/unclebob/deintroverter4clj.git"
                                          :git/sha "cd4df96371a5f51c5ef8c6855cd1dd3fba53bb8a"}}
                           :main-opts ["-m" "deintroverter.core"]}
           :cov {:main-opts ["-m" "speclj.cloverage"
                             "-c" "--tag" "~no-mutate" "spec" "spec-jvm"
                             "--" "-p" "src" "-s" "spec" "-s" "spec-jvm" "--lcov"]
                 :extra-deps {cloverage/cloverage {:mvn/version "1.2.4"}
                              speclj/speclj {:mvn/version "3.12.2"}}
                 :extra-paths ["spec" "spec-jvm"]}
           :property {:main-opts ["-m" "speclj.main" "-c" "spec-property"]
                      :extra-deps {speclj/speclj {:mvn/version "3.12.2"}
                                   org.clojure/test.check {:mvn/version "1.1.1"}}
                      :extra-paths ["spec-property"]}}}
